{% extends "inventario/base.html" %}
{% block title %}Nueva Contraseña{% endblock %}
{% block content %}
<section class="container mt-3 contenido">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card p-4">
                <h3 class="text-center">Nueva Contraseña</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">Guardar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}